.git
.gitignore
.DS_Store
**/.DS_Store

node_modules
**/node_modules

.turbo
**/.turbo

.next
**/.next

venv
**/venv

__pycache__
**/__pycache__
*.pyc

apps/api/.env
apps/frontend/.env
.env

coverage
**/coverage
